body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.theP{
  display: flex;
  padding:10px;
  
}
.theUL{
  display: flex;
}
@media all
    and (max-width: 475px) 
    and (min-width: 350px)
{

  .theP{

    display: block;
  }
  .theUL{
    display: block;
  }

}