.img{
  
  opacity:0.6;
  transition: transform .9s;
}
.img:hover{
  opacity:1;
  transform: scale(1.1);
  
}
.header3{
  font-size: 40px;
  color: black;
}
.card{
display: flex;

}
.card2{
  flex: 33.33%;
  padding: 5px;
  

}
